body{
    background-color: hsl(212, 45%, 89%);
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: hsl(0, 0%, 100%);

    width: 290px;
    height: 450px;

    border-radius: 15px;
}

.imagem > img{
    height: 250px;
    border-radius: 15px;
}

.titulo{
    font-family: "outfit";
    font-weight: 700;
    font-size: 17px;

}    
.conteudo{
    font-family: "outfit";
    font-weight: 400;
    font-size: 15px;
    
}